body{
  font-family: Montserrat, sans-serif;
  background: #edc30d; 
  overflow:hidden;
  display:flex;
  margin:0px;
  padding:0px;
}
.bodyblock {
	display:block!important;
}
.positioner {
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	overflow-x:hidden;
	overflow-y:auto;
	flex-direction:column;
}
.container{
  user-select: none;
  margin: 100px auto;
  background: #ce143a;
  color: #b3b8cd;
  border-radius: 5px;
  
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  padding-bottom:10px;
}
.cover-photo{
  background: url('./assets/background.png');
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  border-bottom:6px solid #edc30d;
  background-position: center center;
}
.profile{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 0px;
  border: 1px solid #edc30d;
  padding: 7px;
  background: #edc30d;
}
.profile-name{
  font-size: 25px;
  font-weight: bold;
  margin: 27px 0 0 120px;
  color:#edc30d;
}
.about{
	margin-top: 9px;
	line-height: 21px;
	color: #edc30d;
	margin-bottom: 35px;
	margin-left: 183px;
}
button{
  margin: 10px 0 40px 0;
}
.msg-btn, .follow-btn{
  background: #edc30d;
  border: 1px solid #edc30d;
  padding: 10px 25px;
  color: #ce143a;
  border-radius: 3px;
  font-family: Montserrat, sans-serif;
  cursor: pointer;
}
.follow-btn{
  margin-left: 25px;
  background: transparent;
  color: #edc30d;
}
.follow-btn:hover{
  color: #ce143a;
  background: #edc30d;
  transition: .5s;
 
}
.socialcontainer {
	display:flex;
	flex-direction:row;
	justify-content:center;
	padding-left: 10px;
}
.buttonscontainer {
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-right: 25px;
	margin-bottom: 25px;
}
.buttonscontainer a {
	margin-bottom:10px;
	text-decoration:none;
	text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
}
.buttonscontainer a i{
	font-size: 25px;
}
.buttonscontainer a span{
	text-align: center;
    line-height: 25px;
    margin-left: 10px;
}
.socialbutton {
	width:38px;
	height:38px;
	color: #edc30d;
	text-decoration: none;
	font-size: 20px;
	border-radius: 3px;
	display:flex;
	justify-content:center;
	justify-items:center;
	font-size: 20px;
	transition: .5s;
	margin-right:10px;
}
.socialbutton i {
	margin:auto;
}
.socialbutton:hover {
	background:#edc30d;
	color:#ce143a;
}

.add-contact-container {
	height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-top: 93px;
    padding-left: 25px;
}
.add-contact {	 
    width: 35px;
    height: 35px;
    display: flex;
    overflow: hidden;
    padding: 0px;
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    text-decoration: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #ce143a;
    color: #edc30d;
    border: 2px solid #edc30d;
    border-radius:100%;
    margin-top: -41px;
    margin-left: -6px; 
}
.add-contact:hover {
	cursor:pointer;
	border-color:#edc30d;
	background:#edc30d;
	color:#ce143a;
	
}
.add-contact:hover i{
}
.add-contact i {
	margin-left:2px;
	font-size:17px;	
}
.floating-window-backdrop{
	position:absolute;
	background:rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;	
	transition:opacity 0.5s;
	opacity:0;
	display:none;
	z-index:100;
	top:0px;
	left:0px;
}
.floating-positioner{
	position:absolute;
	display:none;
	z-index:150;
}
.floating-window{
	width: 380px;
    height: 380px;
    position: absolute;
    background: green;    
    align-self: center;
    justify-self: center;
	display:none;
	z-index:150;
	flex-direction: column;
	background:#ce143a;
}
.floating-visible {
	display:block;	
}
.floating-window-visible {
	display:flex;	
}
.floating-window .buttonscontainer{
	width:100%;
	justify-content:flex-end;
	margin:0px;
}
.floating-window .buttonscontainer a {
	margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.qrcontainer {
	width:100%;
	height:100%;
	display:flex;
}
.qrcontainer img{
	background: yellow;
    width: 100%;
    height: auto;
    margin: 15px;
    margin-bottom: 0px;
}
/*.container i:hover{
  color: #03bfbc;
}*/
@media (max-width:360px){
	.buttonscontainer a span{
		display:none;
	}
}
@media (max-width:390px){
	.add-contact-container {
	    display: inline-flex;
		align-self: center;
		justify-self: center;    
		margin-left: -30px;
		margin-top:0px;
	}
	.profile {
	    display: inline-flex;
		align-self: center;
		justify-self: center;
		margin-top: 93px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0px;
	}
	.profile-name {
		margin:auto;
		margin-top: 93px;
	}
	.about {
		margin:auto;
		margin-top: 0px;
		margin-bottom: 35px;
	}
}
@media (max-width:500px){
	.container {
		width:calc( 100vw - 60px );		
	}
}
@media (min-width:501px){
	.container {
		width: 380px;		
	}
}
